<h1>Dragon Ball Z</h1>
<hr>

<!-- A bootstrap class that allows the elements inside to be displayed in a row. -->
<div class="row">

  <!-- Displaying the list of characters. -->
  <div class="col">
    <app-personajes [personajes]="personajes"></app-personajes>
  </div>

<!-- A form that allows the user to add a new character to the list. -->
  <div class="col">
    <h3>Agregar <small>{{ nuevo.nombre }}</small></h3>
    <hr>

    <!-- A form that allows the user to add a new character to the list. -->
    <form (ngSubmit)="agregar()">

      <!-- Creating an input field that is bound to the `nuevo.nombre` property. -->
      <input
      type="text"
      placeholder="Nombre"
      name="nombre"
      [(ngModel)]="nuevo.nombre"
      />
      <!-- [value]="nuevo.nombre"
      (input)="cambiarNombre( $event )" -->


      <!-- Creating an input field that is bound to the `nuevo.poder` property. -->
      <input
      type="number"
      placeholder="Poder"
      name="poder"
      [(ngModel)]="nuevo.poder"
      />
      <!-- [value]="nuevo.poder" -->

     <!-- A button that submits the form. -->
      <button class="btn" type="submit">
        Agregar
      </button>

    </form>
  </div>

</div>
